<div class="wrapper">
  <div class="block">
    <button mat-raised-button color="primary" class="button-back" type="button" (click)="back()">
      <mat-icon class="arrow">arrow_back_ios</mat-icon>
    </button>
    <form class="form-container" [formGroup]="formCreateGroup">
      <div class="form-wrapper">
        <h2 class="title">Task</h2>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput formControlName="nameTask" placeholder="Add task..." required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Deadline:</mat-label>
          <input matInput formControlName="deadline" required [matDatepicker]="picker">
          <mat-hint>mm/dd/yy</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
        <mat-form-field>
          <mat-label>Status:</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Priority:</mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority.value">
              {{priority.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Performers:</mat-label>
          <mat-select formControlName="performer">
            <mat-option *ngFor="let performer of performers" [value]="performer.value">
              {{performer.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="button" type="button" (click)="edit()"
          *ngIf="!isEditPressed">Edit</button>
        <div class="buttons-block" *ngIf="isEditPressed">
          <button mat-raised-button color="primary" class="button" type="button" (click)="cancel()">Cancel</button>
          <button mat-raised-button color="primary" class="button" (click)="save()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>