.button.mdc-button {
  min-width: 55px;
  padding: 0;
  background-color: var(--add-button-color);
}

.add-icon.mat-icon {
  margin: 0;
  color: var(--icon-color);
  font-size: 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
}